body{
    background-color: lightgrey ;
    header {
        background-color: lightgrey;
        text-align: center;
        padding: 0px 0px; 
        
    }
    
    nav {
        display: flex;
        justify-content: center; 
        align-items: center;
        background-color: #4d464b; 
        padding: 10px; 
        border-radius: 10px;
    }
    
    nav a {
        text-decoration: none; 
        margin-top: 28px; 
        color: white;
        margin-bottom: 26px;
        margin-right: 57px; 
    }
    
    h1 {
        color: #af4e94; 
    }

    h2 {
        color: #009688; 
    }

    h3 {
        color: #f44336; 
    }
    
}
#contact-nav{
    padding-left: 35.2em;
}